{% extends 'base.html' %}

{% block title %} Doctor List {% endblock %}

{% block content %}
<h1>List of Doctors</h1>
<div class="row">

    {% for doctor in doctor_list %}
    <div class="card col-lg-12" style="width: 18rem; margin:5px;">
        <img class="card-img-top" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ doctor.user.first_name }} {{ doctor.user.last_name }}</h5>
    <p class="card-text">
        specialization__name : {{ doctor.specialization.name }}<br>
        experience (year) : {{ doctor.experience }}<br>
        visit fee : {{ doctor.visit_fee }}<br>
    </p>
    <a href="{% url 'doctor:doctor_detail' doctor.id %}" class="btn btn-primary">Detail page</a>
  </div>
    </div>
        {% endfor %}

<!--<a href="{% url 'doctor:doctor_create' %}"> + Add Doctor</a><br>-->

{%endblock%}