{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Doctor Comments {% endblock %}
{% block content %}
<div class="card-body">
<p>{{ doctor.body }}</p>
<a href="{% url 'doctor_update' article.pk %}">Edit</a> |
<a href="{% url 'doctor_delete' article.pk %}">Delete</a>
</div>
<div class="card-footer">
{% for comment in comment_set.all %}
<p>
<span class="font-weight-bold">
{{ comment.author }} &middot;
</span>
{{ comment }}
</p>
{% endfor %}
</div>

<hr>
<h4>Comments</h4>
{% for comment in comment_set.all %}
<p>{{ comment.author }} &middot; {{ comment }}</p>
{% endfor %}
<hr>

<h4>Add a comment</h4>
<form action="" method="post">{% csrf_token %}
{{ form|crispy }}
<button class="btn btn-success ml-2" type="submit">Save</button>
</form>

{% endblock %}